/vendor
/node_modules
composer.lock
package-lock.json
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache
/.pest
build
coverage
phpstan.neon
phpunit.xml
.phpactor.json
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.nova
testbench.yaml
/workbench/vendor
/.rector.cache
